@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*Universal*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

body{
    display: block;
    background-color: #061327;
}

#principal{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

#secciones{
    margin-top: 25px;
}

#secciones section{
    margin-bottom: 25px;
}

#secciones section h1{
    color:white;
    margin-bottom: 25px;
}

#secciones section .peliculas{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;

}

#secciones section .peliculas .pelicula{
    width: 17%;
    margin-top: 20px;
}

#secciones section .peliculas .pelicula img{
    width:100%;
}

/*css pagina detalle de película*/
.portadaPelicula {
    width: 100%;
    height: 370px;
}
.centroPelicula {
    margin: 0px 50px;
}
.tituloPrincipal {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0px;
}
.listaDetalle {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 18px;
    color: white;
}
.datosPelicula {
    color: white;
    font-size: 28px;
    margin: 16px 0px;
}

/*css pagina detalle serie*/
.portadaSerie {
    width: 100%;
    height: 370px;
}
.centroSerie {
    margin: 0px 50px;
}
.datosSerie {
    color: white;
    font-size: 28px;
    margin: 16px 0px;
}

/*css pagina generos*/
.centroGenero {
    margin: 0px 50px;
}
.tituloGeneros {
    text-align: center;
    margin: 12px;
    color: white;
    font-size: 35px;
}
.genero {
    border: solid 3px #061935c2;
    background-color: #081c3c;
    margin: 14px;
    color: white;
    
}
.generoUno {
    border: solid 3px #061935c2;
    background-color: #081c3c;
    margin: 14px;
    color: white;
    
    
    
}
.listaGenero {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 12px;
    font-size: 20px;
}
.generoPeliculas {
    margin: 12px;
    font-size: 26px;
    color: white;
}

.generoSeries {
    margin: 12px;
    font-size: 26px;
    color: white;
}
.irDetalleGenero {
    text-decoration: none;
    color: white;
}

/*Detalle de género M*/ 
/*Main*/
.mainDetailGeneroRomance {
    margin-left: 30px;
    margin-right: 30px;
}
/*Titulo*/
.tituloGeneroRomance h1 {
    font-size: 45px;
    margin-left: 0px;
    margin-right: 55px;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
}
/*Películas*/
.peliculasRomance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.peliculasRomance article {
    width: 300px;
    margin: 10px 5px;
    
}

.contenedorDePortada img {
    width: 100%;
}
.peliculaGeneroRomance h2 {
    margin: 20px 10px;
    text-align: center;
    color: white;
}

/*Página Resultados de búsqueda M*/
.resultadosDeBusquedaW {
    margin: 30px;
}
.sinResultados {
    display: none;
}
.leyendaResultados {
    display: block;
    text-align: start;
    font-size: 18px;
    margin: 40px 30px;
    color: white;
}
.noMasResultados {
    margin: 30px;   
}
.noMasResultados h3 {
    color: white;
    font-size: 20px;
    text-align: center;
}
.busquedadWalkingSerie {
    margin: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    justify-content: center;
}
.contenedorImgBusquedaW img {
    width: 100%;
}
.busquedadWalkingSerie h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}


/*Header Desktop M*/
.navMenu {
    height: 80px;
    width: 100%;
    background: #081c3c;
    display: flex;
    flex-direction: row;
    
}
.logo {
    display: block;
    width: 20%;
    height: 80px;
}
.logoH1 {
    margin: 25px 35px;
    text-align: start;
    color: white;
    font-family: 'Bangers', cursive;
    letter-spacing: 1.5px;
    font-size: 40px;
}

#menu {
    display: flex;
    align-items: center;
}
#menu ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
    padding-inline-start: 0px;
    justify-content: center;
}
#menu ul li {
    font-size: 18px;
    margin: 5px 10px;
    align-items: center;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}

/**/
.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 200px;
    flex-direction: row;
}
/**/
.formBuscador {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.formBuscadorInput {
    width: 200px;
    height: 35px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color:white;
    text-decoration: none;
    color: rgb(20, 20, 20);
}
.buttonBuscador {
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(10, 10, 51);
    border-radius: 10px;
}
.divBuscador{
    display: flex;
    flex-direction: row;
}

/*Footer M*/
.mainFooter{
    background: #081c3c;
    margin-top: 50px;
    color:white;
    font-size: 13px;
    text-align: center;
}
.listaFooter {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 20px;
}

.integrantes {
    text-transform: uppercase;
    margin-top: 10px;
}
.integrantesList {
    margin-top: 5px;
    margin-bottom: 10px;
}
.titulo {
    font-size: 15px;
    margin-top: 10px;
}
.footerRedes li {
    
    margin-top: 10px;
}
.footerRedes li a i {
    color: white;
}
.tmdbLogo{
    width: 100px;
    margin-left: 580px;
}

/* Responsive (siempre abajo/ultimo)*/

@media (max-width: 425px) {

    /*Título Detalle de Género*/
    .tituloGeneroRomance h1 {
        font-size: 35px;
        margin-left: 55px;
        margin-right: 55px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        color: white;
    }
    /*Peliculas */

    .peliculasRomance article {
        margin: 30px 55px;
    }


    .peliculaGeneroRomance h2 {
        display: flex;
        justify-content: center;
    }

    /*Resultados de búsqueda*/
    .leyendaResultados {
        margin: 30px; 
        font-size: 12px;
        text-align: center;  
    }
    .busquedadWalkingSerie {
        margin: 20px 30px;
    }

    .noMasResultados h3{
        text-align: center;
        font-size: 15px;
        color: white;
    }


    /*Header*/
    .mainHeader {
        height: 180px;
    }
    .navMenu{
        height: 180px;
    }

    .logo{
        /* background: blue; */
        width: 100%;
        height: 50px;
    }
    .logoH1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #menu {
        display: block;
        height: 10px;
    }

    #menu ul li {
        margin: 5px 10px;
        font-size: 16px
    }

    .buscador {
        width: 100%;
        margin-left: 10px ;
        margin-right: 10px;
        justify-content: center;
        
    }
    .formBuscador {
        justify-content: center;
    }

    .formBuscadorInput {
        width: 50%;
    }

}

@media (max-width: 600px) {
    /*nav {
        flex-direction: column;
    }

    nav #logo {
        width: 100%;
        text-align: center;
    }

    nav #menu{
        width: 100%;
    }
    
    nav #menu ul{
        justify-content: center;
        width: 100%;
        padding-bottom: 20px;
    }

    #buscador form {
        width:100%;
    }*/

    #secciones section .peliculas .pelicula{
        width:45%;
        margin: 5px;
    }
}

@media (max-width: 420px) {
    /*detalle película*/
    .portadaPelicula {
        width: 100%;
        height: 210px;
    }
    
    .centroPelicula {
        margin: 0px 35px;
    }
    .tituloPrincipal {
        font-size: 28px;        
    }
    .datosPelicula {
        font-size: 21px;
        margin: 16px 0px;
    }
    .sinopsisPelicula {
        line-height: 30px;
    }

    /*detalle serie*/
    .portadaSerie {
        width: 100%;
        height: 210px;
    }
    
    .centroSerie {
        margin: 0px 35px;
    }
    .datosSerie {
        font-size: 21px;
        margin: 20px 0px;
    } 
    .sinopsisSerie {
        line-height: 32px;
    }  
    /*pagina generos*/
    .centroGenero {
        margin: 0px 30px;
    }
    .tituloGeneros {
        font-size: 30px;
    }
    
    .listaGenero {
        font-size: 19px;
    }
    .generoPeliculas {
        font-size: 22px;
    }
    
    .generoSeries {
        font-size: 22px;
        margin: 14px;    
    }
   

}